# general
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias md='mkdir -pv'
alias rd='rmdir -pv'
alias df='df -HT'
alias du='du -d 1 -h -c'
alias cd..='cd ..'
alias d='dirs -v | head -10'
alias free='free -m'
alias v=$EDITOR
#alias vim=$EDITOR
alias tc="tty-clock -cst -C 2 -f '%A %B %d %Y'"
alias mount='mount | column -t'
alias u='unimatrix -c green -a -f -n -s 98'
alias kc='kitty +kitten icat'
alias kd='kitty +kitten diff'
alias h='htop -u $USER'
alias t='top -u $USER'
alias nvc="$EDITOR ~/.config/nvim/init.vim"
alias pf='clear;pfetch'
alias af='clear;afetch'
alias n='nnn -D -C -E -o -T e -a -x'
alias cf='clifm'
alias c='cava'
alias p='pipes-rs'
alias mi='mediainfo'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias ping='ping -c 5'
alias path='print -l $path'
alias fr='feh --randomize --bg-fill --recursive --no-fehbg ~/Pictures/*.(png|jpg)'
alias rmpd='systemctl --user daemon-reload; systemctl --user restart mpd'
alias lf="$HOME/.local/bin/lf.sh"
alias ed='ed -p ": "'

# lsd
alias lsd='lsd -h --group-dirs first --no-symlink'
alias ls='lsd'
alias l='ls -l'
alias ll='ls -Al'
alias lt='ls --tree --depth 2'

# exa
alias exa='exa --icons --git -g --time-style long-iso --group-directories-first --git-ignore'
#alias ls='exa'
#alias l1='ls -1'
#alias l='ls -l'
#alias ll='ls -al'
#alias lt='ls -T -L 2'

# suffix
alias -g G='| grep -i'
alias -s html='google-chrome-stable'
alias -s md='$EDITOR'

# zsh
alias zc="$EDITOR $ZDOTDIR/.zshrc"
alias za="$EDITOR $ZDOTDIR/.aliases"
alias ze="$EDITOR $HOME/.zshenv"
alias zr='rm -f ~/.config/zsh/.zhistory && clear && exec zsh' 
alias zs='clear && exec zsh'

# xrdb
alias xc="$EDITOR ~/.Xresources"
alias xu='xrdb ~/.Xresources'
alias xx="$EDITOR ~/.xinitrc"

# bindkey help
alias rhb='run-help bindkey'

# last modified logs
#alias lml='ls -lt /var/log | tail'
alias lml='exa -l -r -s time /var/log | tail'

# journal
alias jcb='journalctl -p 3 -xb'
alias jce='journalctl -p 3 -xe'

# bluetoothctl
alias btc='bluetoothctl'

# pipewire
alias rpw='systemctl --user daemon-reload;systemctl --user restart pipewire{,-pulse}.{socket,service} pipewire-media-session.service'

# git
alias gc='git commit -a'
alias ga='git add'
alias gp='git pull'
alias gpom='git pull origin master'
alias gpvm='git pull vaskark master'
alias gpush='git push'
alias gl='git log'
alias gls='git log --stat'
alias gl1='git log --oneline'
alias gs='git status'
alias gc1='git clone --depth=1'

# fzf
alias ve='$EDITOR $(fzf)'
alias fw='fz-wal.sh'

# neofetch
alias nf0='clear;neofetch --config none'
alias nf='clear;neofetch'
alias nfo='clear;neofetch --off'
alias nfs='clear;neofetch --config ~/.config/neofetch/config-small.conf'

# fonts
alias f2s='fonttosfnt -v -r -b -c -g 2 -m 2 -o'
alias fcc='fc-cache -fv'
alias fcl='fc-list'

# p10k
alias p10kc='p10k configure'

# pywal
alias w1='wal -f random_user -o wal-extras.sh'
alias w2='wal -f random -o wal-extras.sh'

# system
alias upd8='sudo apt update;sudo apt full-upgrade;sudo apt autoremove;sudo apt clean'
alias shut='poweroff'

# startx
alias startx='startx $HOME/.xinitrc'

# kernel
alias mkc='make LSMOD=$HOME/.config/modprobed.db localmodconfig'
alias mkp='make deb-pkg -j4 LOCALVERSION=-custom'

# networking
alias rnm='sudo systemctl restart network-manager'
alias up='nmcli c u'
alias dn='nmcli c d'
alias ndw='nmcli d wifi'
alias i='ip -br -c a'

# windscribe
alias wsc='windscribe connect'
alias wsd='windscribe disconnect'

# install
alias s1='sudo make install'
alias s2='sudo make PREFIX=/usr/local install'
alias s3='sudo ninja -C build install'

# arch
alias unlock='sudo rm /var/lib/pacman/db.lck'
alias cleanup='sudo pacman -Rns $(pacman -Qtdq)'
alias mlr='sudo reflector --country 'United States' --protocol https --latest 10 --sort rate --save /etc/pacman.d/mirrorlist'
alias mla='sudo reflector --country 'United States' --protocol https --latest 10 --sort age --save /etc/pacman.d/mirrorlist'

alias pi='pacman -Slq | fzf --multi --preview 'pacman -Si {1}' | xargs -ro sudo pacman -S'
alias pai='paru -Slq | fzf --multi --preview 'paru -Si {1}' | xargs -ro paru -S'
