# general
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias df='df -H | grep sda'
alias du='du -d 1 -h'
alias cd..='cd ..'
alias h='history'
alias hc='history -c;src'
alias p='pwd -P'

alias ls='lsd'
alias l='ls -l'
alias ll='ls -al'
alias lt='lsd --tree --depth 2'

alias v='nvim'
alias tc1="tty-clock -cst -C 3 -f '%B %d %Y'"
alias mount='mount | column -t'
alias um='unimatrix -c yellow -a -f -n -s 98'
alias kc='kitty +kitten icat'
alias kd='kitty +kitten diff'
alias mpc='mpc --host=127.0.0.1 --port=6601'
alias wttr='curl wttr.in'
alias cls='clear'
alias zshc='nvim ~/.zshrc'
alias ht='htop -u $USER'
alias xrc="nvim ~/.Xresources"
alias xru='xrdb ~/.Xresources'
alias nvc='nvim ~/.vimrc'
alias m='ncmpcpp -q'
alias bf='bunnyfetch'
alias pf='clear;pfetch'
alias n='nnn -d -o'
alias r='ranger'
alias c='cava'
alias fd='fdfind'
alias km='kmon -u'

# git
alias gc='git commit -a'
alias gp='git pull'
alias gl='git log'
alias gs='git status'

# neofetch
alias nf0='clear;neofetch --config none'
alias nf='clear;neofetch'
alias nfo='clear;neofetch --off'
alias nfs='clear;neofetch --config ~/.config/neofetch/config-small.conf'

# wifi
alias up='nmcli c u'
alias dn='nmcli c d'
alias ndw='nmcli d wifi'

# windscribe
alias wsc='windscribe connect'
alias wsd='windscribe disconnect'

# yadm
alias yc='yadm commit -a'
alias ya='yadm add'
alias yp='yadm push -u origin master'

# pywal
alias wal='wal -o wal-berry.sh -o wal-dunst.sh -o wal-glava.sh'
alias w1='wal --theme random_user'
alias w2='wal --theme random'
alias wf='wal --theme dkeg-traffic'
alias cdw='cd ~/.config/wal/colorschemes/dark/'

# superuser
alias reboot='sudo reboot'
alias shut='sudo shutdown now'
alias upd8='sudo apt update;sudo apt full-upgrade;sudo apt autoremove;sudo apt clean'
alias rnm='sudo systemctl restart network-manager'
alias s1='sudo make install'
alias s2='sudo make PREFIX=/usr/local install'

# pacman
alias pq='pacman -Qm'

# systemctl
alias sct='systemctl --user list-timers --all'
