# general
alias zr='clear && history -c && exec zsh'
alias hc='history -c'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias md='mkdir -pv'
alias rd='rmdir'
alias df='df -H | grep sda'
alias du='du -d 1 -h'
alias cd..='cd ..'
alias d='dirs -v | head -10'
alias free='free -m'

alias ls='lsd'
alias l='ls -l'
alias ll='ls -al'
alias lt='lsd --tree --depth 2'

alias -g G='| grep -i'

alias vim='nvim'
alias v='nvim'
alias t="tty-clock -cst -C 2 -f '%B %d %Y'"
alias mount='mount | column -t'
alias u='unimatrix -c green -a -f -n -s 98'
alias kc='kitty +kitten icat'
alias kd='kitty +kitten diff'
alias mpc='mpc --host=127.0.0.1 --port=6600'
alias wttr='curl -s "wttr.in/Hamilton?format="+%C+%t""'
alias cls='clear'
alias zc='nvim ~/.zshrc'
alias h='htop -u $USER'
alias xc="nvim ~/.Xresources"
alias xu='xrdb ~/.Xresources'
alias nvc='nvim ~/.vimrc'
alias m='ncmpcpp -q'
alias bf='bunnyfetch'
alias pf='clear;pfetch'
alias n='nnn -C -E -d -o -T e -a -x'
alias f='lf'
alias c='cava'
alias p='pipes'
alias fd='fdfind'
alias mi='mediainfo'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias ping='ping -c 5'
alias path='print -l $path'

# bindkey help
alias rhb='run-help bindkey'

# last modified logs
alias lml='ls -ltr /var/log | tail'

# suffix
alias -s html=google-chrome-stable

# git
alias gc='git commit -a'
alias ga='git add'
alias gp='git pull'
alias gl='git log'
alias gs='git status'

# yadm
alias yc='yadm commit -a'
alias ya='yadm add'
alias yp='yadm push -u origin master'
alias yl='yadm log'
alias ys='yadm status'

# neofetch
alias nf0='clear;neofetch --config none'
alias nf1='clear;neofetch --off --config none'
alias nf='clear;neofetch'
alias nfo='clear;neofetch --off'
alias nfs='clear;neofetch --config ~/.config/neofetch/config-small.conf'

# pywal
alias wal='wal -o wal-extras.sh'
alias w1='wal -f random_user'
alias w2='wal -f random'

# system
alias upd8='sudo apt update;sudo apt full-upgrade;sudo apt autoremove;sudo apt clean'
alias reboot='systemctl reboot'
alias shut='systemctl poweroff -i'
alias susp='systemctl suspend'

# networking
alias rnm='sudo systemctl restart network-manager'
alias up='nmcli c u'
alias dn='nmcli c d'
alias ndw='nmcli d wifi'

# windscribe
alias wsc='windscribe connect'
alias wsd='windscribe disconnect'

# install
alias s1='sudo make install'
alias s2='sudo make PREFIX=/usr/local install'
alias s3='sudo ninja -C build install'

# systemd
alias sc='sudo systemctl'
alias scu='systemctl --user'

# journal
alias jctl='journalctl -p 3 -xe'

# arch
alias unlock='sudo rm /var/lib/pacman/db.lck'
alias cleanup='sudo pacman -Rns $(pacman -Qtdq)'
alias mlr='sudo reflector --country 'United States' --protocol https --latest 5 --sort rate --save /etc/pacman.d/mirrorlist'
alias mla='sudo reflector --country 'United States' --protocol https --latest 5 --sort age --save /etc/pacman.d/mirrorlist'
