# ssh-agent
if [ ! -S ~/.ssh/ssh_auth_sock ]; then
    eval `ssh-agent`
    ln -sf "$SSH_AUTH_SOCK" ~/.ssh/ssh_auth_sock
fi
export SSH_AUTH_SOCK=~/.ssh/ssh_auth_sock

# env
export ENV=$HOME/.zshenv

# start
xset +fp /usr/local/share/fonts/misc &
wal -R -o wal-extras.sh &
xrdb ~/.Xresources
