!! Xft
Xft.dpi: 96
Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
Xft.autohint: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

!! URxvt
URxvt*termName: rxvt-unicode-256color
URxvt*font: -*-scientifica-medium-r-*, xft:UbuntuMono Nerd Font Mono:size=9            
URxvt*boldFont: -*-scientifica-bold-r-*
URxvt*letterSpace: -6
URxvt*lineSpace: 0
URxvt*geometry: 82x22
URxvt*internalBorder: 20
URxvt*cursorBlink: false
URxvt*saveLines: 2000
URxvt*scrollBar: false
URxvt*urgentOnBell: true
URxvt*depth: 32
URxvt*iso14755: false
URxvt*iso14755_52: false
URxvt*pointerBlank: true
URxvt*fading: 20

!! Change font on-the-fly
URxvt.keysym.C-M-1: command:\033]710;xft:Monospace:size=8\007\033]711;xft:Monospace:bold:size=8\007

!! URxvt Navigation Keys
URxvt.keysym.M-Up: command:\033]720;1\007
URxvt.keysym.M-k: command:\033]720;1\007
URxvt.keysym.M-Down: command:\033]721;1\007
URxvt.keysym.M-j: command:\033]721;1\007
URxvt.keysym.C-Right: \033[1;5C
URxvt.keysym.C-Left: \033[1;5D

!! URxvt Extensions
URxvt.perl-ext-common: default,url-select,selection-to-clipboard,keyboard-select,resize-font,bell-command,option-popup
! selection-to-clipboard
URxvt.keysym.C-S-C: eval:selection_to_clipboard
URxvt.keysym.C-S-V: eval:paste_clipboard
! keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true
! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.underline: true
URxvt.url-select.autocopy: true
! resize-font
URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger: C-equal
URxvt.resize-font.reset: C-0
URxvt.resize-font.show: C-slash
! bell-command
URxvt.bell-command: canberra-gtk-play -i bell

!! XTerm
xterm*termName: xterm-256color
xterm*scrollBar: false
xterm*geometry: 68x20
xterm*borderWidth: 0
xterm*internalBorder: 20
xterm*renderFont: true
xterm*faceName: spleen:pixelsize=12:antialias=false
!xterm*font: spleen-6x12
xterm*on2Clicks: word
xterm*on3Clicks: line
xterm*dynamicColors: On
xterm*saveLines: 2000
xterm*bellIsUrgent: true
xterm*visualBell: true
xterm*visualBellLine: true
xterm*selectToClipboard: true
xterm*metaSendsEscape: true

!! XTerm Keybindings
xterm*translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d) \n\
  Ctrl Shift <Key> C: copy-selection(SELECT) \n\
  Ctrl Shift <Key> V: insert-selection(SELECT) \n\

!! XScreensaver
xscreensaver.Dialog.headingFont: -*-scientifica-medium-r-*
xscreensaver.Dialog.bodyFont: -*-scientifica-medium-r-*
xscreensaver.Dialog.labelFont: -*-scientifica-medium-r-*
xscreensaver.Dialog.unameFont: -*-scientifica-medium-r-*
xscreensaver.Dialog.buttonFont: -*-scientifica-medium-r-*
xscreensaver.Dialog.dateFont: -*-scientifica-medium-r-*
xscreensaver.passwd.passwdFont: -*-scientifica-medium-r-*
xscreensaver.dateFormat: %-I:%M %P, %b %d %Y

!! Colours
#include ".cache/wal/colors.Xresources"

XTerm*eightBitInput: false

XTerm*modifyCursorKeys: 1

XTerm*modifyFunctionKeys: 1
