!! Xft
Xft.dpi: 96
Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
Xft.autohint: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

!! URxvt
URxvt*termName: rxvt-unicode-256color
!URxvt*font: xft:scientifica:size=8, xft:MesloLGS Nerd Font Mono:size=8
URxvt*font: -*-uushi-*
URxvt*boldFont: 
URxvt*letterSpace: 0
URxvt*lineSpace: 0
URxvt*geometry: 90x24
URxvt*internalBorder: 20
URxvt*cursorBlink: false
URxvt*cursorUnderline: true
URxvt*saveLines: 2000
URxvt*scrollBar: false
URxvt*urgentOnBell: true
URxvt*depth: 32
URxvt*iso14755: false
URxvt*iso14755_52: false

!! URxvt Navigation Keys
URxvt.keysym.M-Up: command:\033]720;1\007
URxvt.keysym.M-k: command:\033]720;1\007
URxvt.keysym.M-Down: command:\033]721;1\007
URxvt.keysym.M-j: command:\033]721;1\007
URxvt.keysym.C-Right: \033[1;5C
URxvt.keysym.C-Left: \033[1;5D

!! URxvt Extensions
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,keyboard-select,resize-font,bell-command
! selection-to-clipboard
URxvt.keysym.C-S-C: eval:selection_to_clipboard
URxvt.keysym.C-S-V: eval:paste_clipboard
! keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
! matcher
URxvt.url-launcher:       sensible-browser
URxvt.keysym.C-Delete:    matcher:last
URxvt.keysym.M-Delete:    matcher:list
URxvt.matcher.button:     1
URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt.matcher.pattern.2:  \\B(/\\S+?):(\\d+)(?=:|$)
URxvt.matcher.launcher.2: gvim +$2 $1
! resize-font
URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger: C-equal
URxvt.resize-font.reset: C-0
URxvt.resize-font.show: C-slash
! bell-command
URxvt.bell-command: canberra-gtk-play -i bell

!! XTerm
xterm*termName: xterm-256color
xterm*scrollBar: false
xterm*geometry: 90x28
xterm*borderWidth: 0
xterm*internalBorder: 20
xterm*renderFont: true
xterm*allowBoldFonts: false
!xterm*faceName: lemon
!xterm*faceSize: 8
xterm*font: -*-sundae-*
xterm*on2Clicks: word
xterm*on3Clicks: line
xterm*dynamicColors: On
xterm*saveLines: 2000
xterm*bellIsUrgent: true
xterm*visualBell: true
xterm*visualBellLine: true
xterm*selectToClipboard: true
xterm*metaSendsEscape: true

!! XTerm Keybindings
!xterm*translations: #override \n\
!  Ctrl <Key> minus: smaller-vt-font() \n\
!  Ctrl <Key> plus: larger-vt-font() \n\
!  Ctrl <Key> 0: set-vt-font(d) \n\
!  Ctrl Shift <Key> C: copy-selection(SELECT) \n\
!  Ctrl Shift <Key> V: insert-selection(SELECT) \n\

!! XScreensaver
xscreensaver.Dialog.headingFont: -*-scientifica-*
xscreensaver.Dialog.bodyFont: -*-scientifica-*
xscreensaver.Dialog.labelFont: -*-scientifica-*
xscreensaver.Dialog.unameFont: -*-scientifica-*
xscreensaver.Dialog.buttonFont: -*-scientifica-*
xscreensaver.Dialog.dateFont: -*-scientifica-*
xscreensaver.passwd.passwdFont: -*-scientifica-*
xscreensaver.dateFormat: %-I:%M %P, %b %d %Y

!! Colours
#include ".cache/wal/colors.Xresources"
