!! Xft
Xft.dpi: 96
Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
!Xft.autohint: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

!! URxvt
URxvt*termName: rxvt-unicode-256color
URxvt*font: xft:scientifica:size=8, xft:UbuntuMono Nerd Font Mono:size=8
URxvt*letterSpace: 0
URxvt*lineSpace: 0
URxvt*geometry: 90x26
URxvt*internalBorder: 20
URxvt*cursorBlink: false
URxvt*cursorUnderline: true
URxvt*saveLines: 2000
URxvt*scrollBar: false
URxvt*urgentOnBell: true
URxvt*depth: 32
URxvt*iso14755: true

!! URxvt Navigation Keys
URxvt.keysym.M-Up: command:\033]720;1\007
URxvt.keysym.M-k: command:\033]720;1\007
URxvt.keysym.M-Down: command:\033]721;1\007
URxvt.keysym.M-j: command:\033]721;1\007
URxvt.keysym.C-Right: \033[1;5C
URxvt.keysym.C-Left: \033[1;5D

!! URxvt Extensions
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,keyboard-select,resize-font,bell-command
! selection-to-clipboard
URxvt.keysym.C-S-c: eval:selection_to_clipboard
URxvt.keysym.C-S-v: eval:paste_clipboard
! selection-to-keyboard
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
! matcher
URxvt.url-launcher:       sensible-browser
URxvt.keysym.C-Delete:    matcher:last
URxvt.keysym.M-Delete:    matcher:list
URxvt.matcher.button:     1
URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt.matcher.pattern.2:  \\B(/\\S+?):(\\d+)(?=:|$)
URxvt.matcher.launcher.2: gvim +$2 $1
! resize-font
URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger: C-equal
URxvt.resize-font.reset: C-0
URxvt.resize-font.show: C-slash
! bell-command
URxvt.bell-command: canberra-gtk-play -i bell

!! XTerm
XTerm*vt100.termName: xterm-256color
XTerm*vt100.scrollBar: false
XTerm*vt100.geometry: 90x26
XTerm*vt100.borderWidth: 0
XTerm*vt100.internalBorder: 20
XTerm*vt100.renderFont: true
XTerm*vt100.faceName: UbuntuMono Nerd Font Mono
!XTerm*vt100.faceName: scientifica
XTerm*vt100.faceSize: 8
XTerm*vt100.on2Clicks: word
XTerm*vt100.on3Clicks: line
XTerm*vt100.dynamicColors: On
XTerm*vt100.saveLines: 2000
XTerm*vt100.bellIsUrgent: true
XTerm*vt100.visualBell: true
XTerm*vt100.visualBellLine: true
XTerm*vt100.selectToClipboard: true

!! XTerm Keybindings
XTerm*vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl Shift <Key>C: copy-selection(SELECT) \n\
  Ctrl Shift <Key>V: insert-selection(SELECT) \n\

!! XScreensaver
xscreensaver.Dialog.headingFont: -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont: -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont: -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont: -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont: -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont: -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont: -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*

xscreensaver.dateFormat: %I:%M %p, %b %d %Y

!! Colours
#include ".cache/wal/colors.Xresources"
