[Desktop Entry]
Type=Application
Exec=touchegg-default.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=Touchegg
Name=Touchegg
Comment[en_CA]=Touchpad gestures for GNOME
Comment=Touchpad gestures for GNOME
