configuration {
  modi: "drun,run,ssh,emoji,keys";
  display-drun: "";
  display-run: "";
  terminal: "alacritty";
  matching: "normal";
  show-icons: false;
  cycle: true;
  location: 0;
  sidebar-mode: false;	
  disable-history: true;
  hover-select: false;
  theme: "~/.cache/wal/colors-rofi-dark.rasi.default-2";
}
